[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "==2.0.0"

[packages]
Django = "==1.10.6"
djangorestframework = "==3.9.1"
django-rest-swagger = "==2.1.2"
django-extensions = "==1.7.7"
requests = "==2.13.0"
urllib3 = "==1.20"
django-environ = "==0.4.1"
jsonschema = "==3.0.2"

[requires]
python_version = "3.6"
